# Maven #
/target/

# IDEA #
.idea/
.*.iml
collections/collections.iml
collections/src/
mybatis-1/mybatis-1.iml
mybatis-2/mybatis-2.iml
mybatis-3/mybatis-3.iml
mybatis-3/src/
mybatis.iml
src/
mybatis-1.iml
